*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(9, 61, 75);
    text-align: center;
    color: rgb(255, 255, 255);
}
.color1{
    position: absolute;
    top: 0px;
    left: 250px;
    z-index: -9;
    height: 600px;
    width: 600px;
    background-color: rgb(206, 47, 79);
    filter: blur(100px);
}
.color2{
    position: absolute;
    top: 600px;
    left: 800px;
    z-index: -9;
    height: 500px;
    width: 500px;
    background-color: rgb(36, 67, 168);
    filter: blur(100px);
}
.color3{
    position: absolute;
    
    top: 500px;
    z-index: -9;
    height: 500px;
    width: 500px;
    background-color: rgb(36, 185, 30);
    filter: blur(100px);
}
.color4{
    position: absolute;
    top: 150px;
    left: 1000px;
    z-index: -9;
    height: 600px;
    width: 600px;
    background-color: rgb(220, 93, 20);
    filter: blur(100px);
}